name: Staging ODFE CLI

on:
#  schedule:
#    - cron: '0 10 * * *'
#  repository_dispatch:
#    types: [staging-odfe-cli]
  push:
    branches: [sreekarj_V279188614]

jobs:

  Test-ODFE-CLI:
    runs-on: ubuntu-18.04
    name: Test-ODFE-CLI
    strategy:
      fail-fast: false
      matrix:
        go-version: [1.14]
    steps:
      - name: Set up AWS Cred
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/checkout@v1
      - name: Retrieve plugin tags
#        run:  echo "p_tag_ism=$(.github/scripts/plugin_tag.sh opendistro-for-elasticsearch/odfe-cli)" >> $GITHUB_ENV
        run: |
          echo "p_tag_ism=$(.github/scripts/plugin_tag.sh opendistro-for-elasticsearch/odfe-cli)" >> $GITHUB_ENV
          echo "$(.github/scripts/plugin_tag.sh opendistro-for-elasticsearch/odfe-cli)"
      - name: Checkout odfe-cli
        uses: actions/checkout@v2
        with:
          repository: opendistro-for-elasticsearch/odfe-cli
          ref: main
      - name: Build ODFE
        run: docker-compose up -d
      - name: IT
#        env: 
#          ODFE_ENDPOINT = "https://localhost:9200"
#          ODFE_USER = "admin"
#          ODFE_PASSWORD = "admin"
        run: |
          ls -ltr;
          go clean -testcache;
          go test -tags=integration ./it;
        env: 
          ODFE_ENDPOINT : "https://localhost:9200"
          ODFE_USER : "admin"
          ODFE_PASSWORD : "admin"

